<!-- Validation failure messages -->
<% if @mytm.errors.any? %>
  <% @mytm.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Mytm #<%= @mytm.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_mytm/<%= @mytm.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for tm_id -->
      <div class="form-group">
        <label for="tm_id" class="control-label">
          Tm
        </label>

        <input type="text" id="tm_id" name="tm_id" placeholder="Tm" class="form-control" value="<%= @mytm.tm_id %>">
      </div>

      <button class="btn btn-warning">
        Update Mytm
      </button>
      or
      <a href="/mytms/<%= @mytm.id %>">Cancel</a>
    </form>
  </div>
</div>
