<!-- Validation failure messages -->
<% if @learnedmove.errors.any? %>
  <% @learnedmove.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Learnedmove</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_learnedmove" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for pokemon_id -->
      <div class="form-group">
        <label for="pokemon_id" class="control-label">
          Pokemon
        </label>

        <input type="text" id="pokemon_id" name="pokemon_id" placeholder="Pokemon" class="form-control" value="<%= @learnedmove.pokemon_id %>">
      </div>

      <!-- Label and input for level_learned -->
      <div class="form-group">
        <label for="level_learned" class="control-label">
          Level learned
        </label>

        <input type="text" id="level_learned" name="level_learned" placeholder="Level learned" class="form-control" value="<%= @learnedmove.level_learned %>">
      </div>

      <!-- Label and input for move_id -->
      <div class="form-group">
        <label for="move_id" class="control-label">
          Move
        </label>

        <input type="text" id="move_id" name="move_id" placeholder="Move" class="form-control" value="<%= @learnedmove.move_id %>">
      </div>

      <button class="btn btn-success">
        Create Learnedmove
      </button>
      or
      <a href="/learnedmoves">Cancel</a>
    </form>
  </div>
</div>
