<div class="page-header">
  <h3>Learnedtm #<%= @learnedtm.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Pokemon</dt>
      <dd><%= @learnedtm.pokemon_id %></dd>

      <dt>Tm</dt>
      <dd><%= @learnedtm.tm_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/learnedtms" class="btn btn-primary">
        Back
      </a>
      <a href="/learnedtms/<%= @learnedtm.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_learnedtm/<%= @learnedtm.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
