<div class="page-header">
  <h3>Move #<%= @move.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @move.name %></dd>

      <dt>Effect</dt>
      <dd><%= @move.effect %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/moves" class="btn btn-primary">
        Back
      </a>
      <a href="/moves/<%= @move.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_move/<%= @move.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
