<div class="page-header">
  <h1>
    Pokemon Yellow Full Pokedex
  </h1>
</div>

<% @pokemons.in_groups_of(4, false).each do |group| %>
  <div class="row padding-inside-bottom-md">

    <% group.each do |pokemon| %>

      <% if pokemon.id < 10 %>
       <% z = "#00" %>
      <% elsif pokemon.id < 100 %>
        <% z = "#0" %>
      <% else %>
        <% z = "#" %>
      <% end %>

      <div class="col-md-offset-1 col-md-2">
        <table>
          <tr>
            <td>
              <a href="/pokemons/<%= pokemon.id %>"><img src="<%= pokemon.image %>" style="height:100px;"></a>
            </td>
          </tr>

          <tr>
            <td><a href="/pokemons/<%= pokemon.id %>"><%= z + pokemon.id.to_s + " " + pokemon.creature %></td>
          </tr>

          <tr>
            <td>
              <% if pokemon.types.length == 2 %>
                <a href="/types/<%= pokemon.types[0].id %>"><%= pokemon.types[0].title %></a> / <a href="/types/<%= pokemon.types[1].id %>"><%= pokemon.types[1].title %></a>
              <% else %>
                <a href="/types/<%= pokemon.types[0].id %>"><%= pokemon.types[0].title %></a>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
